<div class= "container">
  <header id= "main-header">
    <div class= "main-header">
      <div class= "header-box">
        <ul class= "header-ul">
          <li class= "header-li">
            <a href= "">
              <div class= "header-href">
              <div class= "heder-yn1">
                <p class= "header-font"> Mypage </p>
                <p class= "header-font2"> マイページ </p>
              </div>
              </div>
            </a>
          </li>
          <li class= "header-li">
            <a href= "">
              <div class= "header-href">
              <div class= "heder-yn1">
                <p class= "header-font"> Tweet </p>
                <p class= "header-font2"> 投稿 </p>
              </div>
              </div>
            </a>
          </li>
          <li class= "header-li">
            <a href= "">
              <div class= "header-href">
              <div class= "heder-yn">
                <p class= "header-font-img"> フットサルしよー！ </p>
                <p class= "header-font2-img"> TOP </p>
              </div>
              </div>
            </a>
          </li>
          <li class= "header-li">
            <a href= "">
              <div class= "header-href">
              <div class= "heder-yn1">
                <p class= "header-font"> Login </p>
                <p class= "header-font2"> ログイン </p>
              </div>
              </div>
            </a>
          </li>
          <li class= "header-li">
            <a href= "">
              <div class= "header-href">
              <div class= "heder-yn1">
                <p class= "header-font"> Signup </p>
                <p class= "header-font2"> 新規登録 </p>
              </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>